$sidenav-width: 300px;

:host {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.song-book-container {
  flex: 1 100%;

  .mat-sidenav {
    width: $sidenav-width;
    overflow: auto;
  }

}

.main-content {
  padding: 20px;
}